@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  opacity: 0.95; /* global opacity, works WOOOOOOO*/
}
body, html {
    background-color: #000;
}

body::before {
  content: '';
  background-color: #000;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000 url('./assets/allmother.jpg');
  background-size: cover;
  z-index: -1;
  pointer-events: none;
  animation: fadeInBackground 20s ease-in forwards;
}
@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.glow-logo {
  color: white;
  opacity: 0;
  font-size: 2.5rem;
  filter: blur(30px);
  animation: glowBlast 2s ease-out 1s forwards;
  text-shadow: 
    0 0 60px #ffffff,
    0 0 100px #ffffff,
    0 0 140px #ffffff;
  transition: all 2 ease-in-out;

}

@keyframes glowBlast {
  0% {
    opacity: 0;
    filter: brightness(5);
  }
  40% {
    opacity: 1;
    filter: brightness(3);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}
.glow-logo:hover{
    text-shadow: 0 0 5px rgb(255, 0, 0);
    color: red;
}